html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    height: 100vh;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    font-size: 11px;
    background-color: #cd1e1e;
    height: 3rem;
    font-weight: bold;
}

@media screen and (max-width: 880px) {
    .footer {
        font-size: 7px;
        height: 2.8rem;
    }
}

@media screen and (max-width: 680px) {
    .footer {
        font-size: 7px;
        height: 2.5rem;
    }
}
