.titulo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 20px;
    font-family: sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 20px;
    font-family: sans-serif;
}

.frota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frota_1,
.frota_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    cursor: pointer;
}

.img-frota {
    max-width: 200px;
}

.frota-descrocao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    height: 90px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.botao-frota {
    height: 20px;
    width: 40%;
    color: white;
    background-color: #cd1e1e;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
}

.carro-frota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
}

.carro-frota a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 920px) {
    .titulo1 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .titulo {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .frota_1,
    .frota_2 {
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 15px;
    }

    .img-frota {
        max-width: 150px;
    }

    .frota-descrocao {
        font-size: 10px;
        width: 100%;
        height: 90px;
    }

    .botao-frota {
        height: 17px;
        width: 40%;
        margin-top: 20px;
        font-size: 10px;
    }
}

@media screen and (max-width: 680px) {
    .titulo1 {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .titulo {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .frota_1,
    .frota_2 {
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap: 13px;
    }

    .img-frota {
        max-width: 100px;
    }

    .frota-descrocao {
        font-size: 7px;
        width: 100%;
        height: 70px;
    }

    .botao-frota {
        height: 14px;
        width: 40%;
        margin-top: 20px;
        font-size: 8px;
    }
}

@media screen and (max-width: 480px) {
    .titulo1 {
        font-size: 13px;
        margin-bottom: 0;
    }

    .titulo {
        font-size: 13px;
        margin-bottom: 0;
    }

    .frota_1,
    .frota_2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .img-frota {
        max-width: 200px;
    }

    .frota-descrocao {
        font-size: 10px;
        margin-top: 15px;
    }

    .botao-frota {
        height: 20px;
        width: 40%;
        font-size: 11px;
    }
}
