.section-cadastro {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: start;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 40%;
    height: 350px;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
}

.span-required {
    font-size: 12px;
    margin: 10px 0 0 1px;
    display: none;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.cadastro input {
    margin-top: 10px;
    padding-left: 10px;
    background-color: #fff;
    font-family: sans-serif;
    color: #737373;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 45px;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
}

.cadastro img {
    width: 40%;
    margin-bottom: 30px;
}

.cadastro input::placeholder {
    color: #737373;
    font-size: 14px;
}

.cadastro form [type="submit"] {
    display: block;
    background-color: #cd1e1e;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.cadastro p {
    color: #737373;
    margin-top: 10px;
}

.cadastro a {
    text-decoration: none;
    color: #cd1e1e;
    margin-left: 5px;
}

@media (max-width: 900px) {
    .cadastro {
        width: 50%;
        height: 300px;
        padding: 65px;
    }

    .cadastro input {
        height: 44px;
    }

    .cadastro img {
        width: 40%;
        margin-bottom: 30px;
    }

    .cadastro input::placeholder {
        font-size: 14px;
    }

    .cadastro form [type="submit"] {
        font-size: 15px;
    }

    .cadastro p {
        font-size: 15px;
        margin-top: 13px;
    }

    .cadastro a {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .cadastro {
        width: 60%;
        height: 250px;
    }

    .cadastro input {
        height: 40px;
    }

    .cadastro img {
        width: 40%;
        margin-bottom: 30px;
    }

    .cadastro input::placeholder {
        font-size: 14px;
    }

    .cadastro form [type="submit"] {
        font-size: 14px;
    }

    .cadastro p {
        font-size: 14px;
        margin-top: 12px;
    }

    .cadastro a {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .cadastro {
        border: none;
        box-shadow: none;
        width: 70%;
        height: 10%;
    }

    .cadastro input {
        height: 35px;
    }

    .cadastro img {
        width: 40%;
        margin-bottom: 25px;
    }

    .cadastro input::placeholder {
        font-size: 13px;
    }

    .cadastro form [type="submit"] {
        font-size: 13px;
    }

    .cadastro p {
        font-size: 12px;
        margin-top: 12px;
    }

    .cadastro a {
        font-size: 12px;
        margin-left: 5px;
    }
}
