:root{
    --color-white: #fff;
    --color-red: #CD1E1E;
    --color-black: #000000;
    --color-graybusca: #F5F5F5;
    --color-gray: #7B7B7B;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
}

.redCor{
    height: 20px;
    background-color: var(--color-red);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-white);
    height: 5rem;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: 1px 1px rgb(146, 137, 137);
}

.logo_header{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.logo_header img{
    height: 50px;
    cursor: pointer;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    padding: 10px;
    transition: 0.4s;
    font-weight: bold;
    text-decoration: none;
}  

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    list-style: none;
}

.nav a:hover{
    color: var(--color-red);
}

.botao-acesso a{
    color: var(--color-red);
    font-weight: bold;
    text-decoration: none;
}

.header .botao-busca{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/*Busca*/

.pesq-botao{
    background: #F5F5F5;
    height: 20px;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px rgb(146, 137, 137);
}

.pesq-texto{
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    font-size: 1rem;
    transition: 0.5s;
    width: 0;
}

.pesq-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

.pesq-botao:hover{
    box-shadow: 1px 2px rgb(146, 137, 137);
    border-radius: 30px;
}

.pesq-botao:hover > .pesq-texto {
    width: 150px;
    padding-left: 20px;
}

.botao-busca a{
    font-size: 15px;
}

/*--------*/

@media screen and (max-width: 1100px){

    .logo_header{
        gap: 20px;
    }

    .logo_header img{
        height: 28px;
    }

    .nav a{
        font-size: 13px;
        padding: 0;
    }

    .nav ul{
        gap: 30px;
        padding: 0px;
    }
}

@media screen and (max-width: 1000px){

    .header{
        height: 4rem;
    }

    .redCor{
        height: 0.8rem;
    }

    .logo_header{
        gap: 30px;
    }

    .logo_header img{
        height: 30px;
    }

    .nav a{
        font-size: 10px;
        padding: 0;
    }

    .nav ul{
        gap: 20px;
        padding: 0px;
    }

    .header .botao-busca{
        font-size: 10px;
        gap: 25px;
    }

    .pesq-botao{
        height: 10px;
    }

    .pesq-texto{
        font-size: 10px;
    }

    .pesq-btn{
        height: 5px;
        width: 100%;
    }

    .loupe-red{
        width: 10px;
    }

    .pesq-botao:hover{
        border-radius: 15px;
    }

    .pesq-botao:hover > .pesq-texto {
        width: 150px;
        padding-left: 1;
    }

    .botao-busca a{
        font-size: 10px;
    }
} 

@media screen and (max-width: 740px){

    .header{
        height: 3rem;
    }

    .redCor{
        height: 0.5rem;
    }

    .logo_header{
        gap: 10px;
    }

    .logo_header img{
        height: 20px;
    }

    .nav a{
        font-size: 8px;
        padding: 0;
    }

    .nav ul{
        gap: 10px;
        padding: 0px;
    }

    .header .botao-busca{
        font-size: 9px;
        gap: 10px;
    }

    .pesq-botao{
        height: 5px;
    }

    .pesq-texto{
        font-size: 9px;
    }

    .pesq-btn{
        height: 1px;
        width: 20%;
    }

    .loupe-red{
        width: 10px;
    }

    .pesq-botao:hover{
        border-radius: 10px;
    }

    .pesq-botao:hover > .pesq-texto {
        width: 50px;
        padding-left: 1px;
    }

    .botao-busca a{
        font-size: 9px;
    }
    
} 