.containerCarrousel{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.tituloCarrousel{
    text-align: center;
    margin: 24px 0;
}

.slide-item{
    width: 100%;
    height: 250px;
    object-fit: cover;  
}

.containerCarrousel img{
    width: 100%;
}